html, body {
    height: 100%;
    background-color: aqua;
}

div {
    margin: 10px;
    /*border: 1px solid black;*/
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 3px dotted black;
}

#kérdés_szöveg {
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1 
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
}

#kép {
    overflow: hidden;
    flex-shrink: 0;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gomb {
    padding: 20px;
    width: 80px;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    background-color: white;
}

.kerdes {
    border: 1px solid black;
    padding: 2px;
    background-color: white;
}

.kattintható:hover {
    background-color: fuchsia;
    color: white;
    cursor: pointer;
}

.jó {
    background-color: lightgreen;
    color: white;
}

.rossz {
    background-color: lightcoral;
    color: white;
}
